.DS_Store
.idea
obj
*.pdb
*.dll
venv
*.swp
bin
.gradle
out
build
target
cdk.out
generated
war
node_modules
master-cdk-temp
/serverless-ui/jwt-stack/src/main/resources/fixed-public.key
/serverless-ui/jwt-stack/src/main/resources/fixed-private.key
/serverless-ui/jwt-stack/src/main/webapp/aws-iot-sdk-browser-bundle-min.js
